
.dropdown {
    display: flex;
    width:fit-content;
    height: 52px;
    background-color: #FF6060;
    border-radius: 5px;
    
    
    margin: 0px;
    
    border-style: none;
    width: auto;
}

.dropdown--txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", serif;
    margin: 0px;
    font-weight: 500;
    color: #FFFFFF;
    padding-inline: 10px;
    align-items: center;
}

.dropdown--option__container{
    background-color: #F6F6F6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown--option__txt{
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 0px;
    padding-inline: 20px;
}

