
.imagecover--container{
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 30px;

}

.imagecover--container__arrowcount{
    height: 415px;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
    gap : 100px;
}
.imagecover {
    height: 415px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;    
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    
}

img{

    filter: contrast(1);
}

.imagecover img{
    min-height: 415px;
}




.imagecover--count{
    
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 500;
    
    color:#FFFFFF;
}
.imagecover--container__arrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.imagecover--arrow__left{
    
    padding-left: 50px;
    fill: white;
}

.imagecover--arrow__right{
    
    padding-right: 50px;
    fill: white;
}

 .title {    
    display: flex;
        margin-left: 100px;
        margin-right: 100px;
    flex-direction: row;
    justify-content: space-between;
}


.title--txt {
    display: flex;
    flex-direction: column;
}
.title--txt1 {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0px;
   
}
.title--txt2 {   
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0px; 
    font-size: 18px;    
    color: black;    
}
.title--host__txt {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0px;
    font-size: 18px;        
    color: #FF6060;
    width: 93px;
    text-align: end;
}
.title--tags {
    display: flex;
    flex-direction: row;
    gap: 10px;   
    margin-top: 20px;
}

.title--host__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}
    
.title--host__name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 64px;
    justify-content: end;
    width: 167px;

}

.title--host__circle {
    overflow: hidden;
    width: 64px;
    height: 64px;
    background-color: #C4C4C4;
    border-radius: 32px;
}

.title--host__rating {    
    width: 196px;    
}

.detail--container {
    margin-top: 24px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    gap: 20px;
}

.detail--dropdown {
    border-style: none ;
    width: 582px;
    font-size: 18px;
}


@media (max-width: 767.98px) {
    .imagecover--container{
        
        margin-left: 20px;
        margin-right: 20px;
        
    
    }

    .imagecover {
        margin-left: 20px;
        margin-right: 20px;
    }
    .imagecover--container__arrowcount{
        
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagecover--arrow__left{        
        width : 30px;
        height : 30px ;
    }
    .imagecover--arrow__right{        
        width : 30px;
        height : 30px ;
    }

    .imagecover--count{
        display: none;
    }

    .title {  
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    }

    .title--host__container {
        margin-top: 16px;
        align-items:center;
        flex-direction: row-reverse;
    }

    .detail--container {
        margin-top: 20x;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        
        flex-direction: column;
        
        align-items: center;  
        gap: 20px;
    }
    
    .title--tags {
        margin-top: 0px;
    }
    
    .detail--dropdown {
       
        width: 100%;
        font-size: 13px;
    }
}