#root {
  max-width: 1440px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  
  min-height: auto;
  display: flex;
flex-direction: column;

}



 body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  

    
    
} 