.banner {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-left: 100px;
  margin-right: 100px;  
}

.box {
  display: flex;
  height: 223px;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 4px 4px hsl(0, 0%, 0%);
  object-fit: cover;
  opacity: 60%;
  filter: brightness(80%);
  justify-content: center;  
}

img {
  width: 100%;  
  filter: contrast(1.5);
}

.banner--txt {
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", serif;
  font-size: 48px;
  color: #FFFFFF;
  width: 80%;
  text-shadow:1px 1px 2px black;
  font-weight: 700;
  text-align: center;
  
  
}

@media (max-width: 767.98px) {
  
  .banner {  
    margin-left: 20px;
    margin-right: 20px;    
  }

  .box {
    height: 111px;
  }
  .banner--txt {
    
    font-size: 24px;
    
  }
}